html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --background-color: #f0f0f3;
  --text-color: #212121;
  --accent-color: #00e5ff;
  --primary-color: #607d8b;
  --box-3d-shadow: -6px -6px 15px 0 #ffffffee, 6px 6px 15px 0 #00000020;

  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

.page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  margin: 0 auto;
  width: 210mm;
  height: 301mm;
  padding: 1.5rem;
  color: var(--text-color);
  position: relative;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.name-heading {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  margin-top: 30px;
}

.role {
  text-align: center;
  font-style: italic;
  color: rgba(33, 33, 33, 0.8);
  margin-bottom: 30px;
}

.img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

.img {
  z-index: 2;
  width: 100%;
  border-radius: 100%;
  border-left: 1px solid #fff;
  border-right: 1px solid var(--accent-color);
  box-shadow: var(--box-3d-shadow);
}

.section {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
  box-shadow: var(--box-3d-shadow);
  border-radius: 20px;
  flex-grow: 1;
}

.title-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.section-title {
  font-weight: 100;
  font-size: 1.3rem;
  font-family: "Nova Square";
  font-weight: lighter;
}

.icon-holder {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  border-left: 1px solid #fff;
  border-right: 1px solid var(--accent-color);
  box-shadow: var(--box-3d-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.section-content {
  text-align: justify;
  font-size: 0.8rem;
  line-height: 1.3;
  overflow: hidden;
}

.left .section-content {
  margin-top: 1rem;
}

.contact .section-content div,
.social .section-content div {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.left a,
.left a:active,
.left a:visited,
.contact-location {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

.right {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.right .section {
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: var(--box-3d-shadow);
}

.right .desc {
  padding: 0.5rem 0;
  padding-left: 3rem;
  line-height: 1.45;
}

.link {
  padding-left: 3rem;
}

.link a,
.link a:active,
.link a:visited {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

.right h2 {
  padding-left: 3rem;
  position: relative;
  font-weight: 500;
}

.right h2::after {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  border: 5px solid var(--accent-color);
  position: absolute;
  left: 1rem;
  top: 5px;
}

.skills ul {
  padding-top: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  align-items: center;
  gap: 1rem;
}

.skills li {
  list-style: none;
  padding: 0.5rem;
  color: rgb(11, 12, 24);
  /* margin: 0.5rem; */
  flex-basis: 20%;
  flex-grow: 1;
  width: 5rem;
  border-radius: 0.3rem;
  border-left: 1px solid #fff;
  text-align: center;
  font-weight: 600;
  font-size: 0.7rem;
  box-shadow: var(--box-3d-shadow);
}

#border {
  border-bottom: 1px solid var(--accent-color);
  margin: 1rem 0;
  padding: 0;
}

.left #border {
  border-bottom: 1px solid var(--accent-color);
  margin: 0;
  padding: 0;
}

.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--accent-color);
  margin-top: 10px;
  box-sizing: border-box;
}

.passion {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.passion > * {
  flex-grow: 1;
  flex-basis: 25%;
  margin-bottom: 0;
}
